.programinglanguage-container {
  color: inherit;
  margin: 10px;
  width: fit-content;
}
.programinglanguage-container:hover {
  text-decoration: none;
  color: inherit;
}
.programinglanguage img {
  min-height: 100px;
  min-width: 100px;
  height: auto;
  width: 275px;
  object-fit: cover;
}
/* .programinglanguage .image {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100px;
  min-width: 100px;
  width: 100%;
  height: 100%;
} */
.programinglanguage {
  border: 1px solid lightgrey;
  width: 100%;
  box-shadow: 5px 10px rgb(238, 237, 237);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: white;
}
.programinglanguage:hover {
  transform: scale(1.1);
}

.programinglanguage > .content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  padding: 10px;
}
